<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>由html5实现的文件上传预览功能</title>
<!-- 引用控制层插件样式 -->
<link rel="stylesheet" href="__ROOT__/Public/css/admin_photo/zyUpload.css" type="text/css">
<script src="__ROOT__/Public/js/jquery.min.js"></script>
<!-- 引用核心层插件 -->
<script src="__ROOT__/Public/js/admin_photo/zyFile.js"></script>
<!-- 引用控制层插件 -->
<script src="__ROOT__/Public/js/admin_photo/zyUpload.js"></script>
<!-- 引用初始化JS -->
<script src="__ROOT__/Public/js/admin_photo/jq22.js"></script>
</head>
<body>
<h1 style="text-align:center; color: #DC8724">My Photo</h1>
<div id="demo" class="demo"></div>
</body>
</html>